<div id="destinations">
      <div class="row text-center">
        <% destinations.each do |destination| %>
          <div class="col-xs-12 col-sm-4">
            <div class="destination-box">
              <%= link_to destination_path(destination) do %>
                <div class="destination-picture text-center">
                  <%= image_tag destination.destination_pictures.first.picture.url(:small), class: "img-responsive" %>
                </div>
                <div class="destination-name text-center">
                  <small><%= destination.name.capitalize %></small><br>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="vertical-spacer"></div>
      <div class="row text-center">
        <em class='grey medium-font-size'>Votre destination n'est pas encore couverte ? Accédez directement à la carte des meilleures attractions pour n'importe quel pays !</em>
        <%= form_for(Trip.new, html: { class: "form-inline" }) do |f| %>
          <div class="form-group minor-block" class="text-center">
            <%= f.hidden_field(:latitude, class: 'trip_params') %>
            <%= f.hidden_field(:longitude, class: 'trip_params') %>
            <%= f.hidden_field(:vp_ne_lat, class: 'trip_params') %>
            <%= f.hidden_field(:vp_ne_lng, class: 'trip_params') %>
            <%= f.hidden_field(:vp_sw_lat, class: 'trip_params') %>
            <%= f.hidden_field(:vp_sw_lng, class: 'trip_params') %>
            <%= f.hidden_field(:country_code, class: 'trip_params') %>
            <%= f.search_field(:query, placeholder: 'Où allez-vous ?', class: 'medium-style', required: true ) %>
            <br>
            <br>
            <%= f.submit( 'Voir les attractions !', class: 'btn btn-info btn-sm no-border', onclick:"ga('send', 'event', 'User', 'Search Button', 'Click on search button from hp');") %>
          </div>
        <% end %>
      </div>
    </div>