
<li class="panel panel-info" id="<%= experience.id %>">
  <div class='exp-dotdotdot <%= "exp-#{experience.id}" %>' data-experience_id='<%= experience.id %>' data-lat='<%= experience.latitude %>' data-lng='<%= experience.longitude %>'>
    <div class="experience-picture">
      <%= link_to '', experience_path(experience.id), target: '_blank', id:"link-to-detail-from-exp-block", onclick:"ga('send', 'event', 'User', 'Experience Detail', 'User clicked on experience infowindow from picture');" %>
      <div id="owl-experiences" class="owl-carousel small text-center">
        <% experience.experience_pictures.sort_by {|pic| pic.id }.each do |pic| %>
        <div class="item">
          <%= image_tag(pic.picture.url(:medium)) %>
        </div>
        <% end %>
      </div>


      <%= link_to experience_path(experience.id), target:'_blank', onclick:"ga('send', 'event', 'User/Guest', 'Experience Detail', 'User/Guest clicked on experience body from experience block');" do %>

        <div class="exp-rating">
          <span class="pull-left">
            <span class="average">
              <%= experience.average_rating %>
            </span>
            <span class="out-of">/</span>
            <span class="best">10</span>
            <br>
          </span>
        </div>

      <% end %>


      <%= link_to experience_path(experience.id), target:'_blank', onclick:"ga('send', 'event', 'User/Guest', 'Experience Detail', 'User/Guest clicked on experience body from experience block');" do %>

        <div class="experience-name">
          <small><%= experience.name %></small><i class="fa fa-info-circle font-size-23"></i>
        </div>

      <% end %>

    </div>
  </div>
</li>
