<body class="faq">
  <div id="titleblock" class="text-center">
    <div class="title">
      <h2><%= t('.title') %></h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="faq-page">
        <div class="modal-header">
          <h4 class="modal-title text-center"><%= t('.who_is_explorizers') %></h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            <%= t('.who_is_one') %>
          </p>
          <br>
          <p dir="ltr">
              <%= t('.who_is_two') %> <a href="mailto:julien@explorizers.com"> Julien</a> <%= t('.who_is_three') %> <a href="mailto:florian@explorizers.com"> Florian</a><%= t('.who_is_four') %>
          </p>
          <br>
        </div>
        <div class="modal-header">
          <h4 class="modal-title text-center"><%= t('.why_explorizers') %></h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            <%= t('.why_one') %>
          </p>
          <br>
          <p dir="ltr">
            <%= t('.why_two') %>
          </p>
          <br>
          <p dir="ltr">
            <%= t('.why_three') %>
          </p>
          <br>
          <p dir="ltr">
            <%= t('.why_four') %>
          </p>
          <br>
        </div>
        <div class="modal-header">
          <h4 class="modal-title text-center"><%= t('.what_explorizers') %></h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            <%= t('.what_one') %>
          </p>
          <ul>
            <li><%= t('.what_two') %></li>
            <li><%= t('.what_three') %></li>
            <li><%= t('.what_four') %></li>
            <li><%= t('.what_five') %></li>
            <li><%= t('.what_six') %></li>
          </ul>
          <br>
        </div>
        <div class="modal-header">
          <h4 class="modal-title text-center"><%= t('.where_explorizers') %></h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            <%= t('.where_one') %> <%= link_to t('.where_two'), destinations_path %>
          </p>
          <br>
        </div>
        <div class="modal-header">
          <h4 class="modal-title text-center"><%= t('.values') %></h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            <%= t('.values_one') %>
          </p>
          <br>
          <p dir="ltr">
            <%= t('.values_two') %>
          </p>
          <br>
        </div>
        <div class="modal-header">
          <h4 class="modal-title text-center"><%= t('.contact_explorizers') %></h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            <%= t('.contact_one') %> <a href="mailto:dora@explorizers.com"> dora@explorizers.com</a><%= t('.contact_two') %> <%= link_to 'Contact', new_contact_path %>.
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
<%= render partial: 'shared/footer' %>
</body>