<%= content_for :title do %>
  <%= "Destinations de voyage préférées" %>
<% end %>
<%= content_for (:description) do %>
  <%= "Vous partez en voyage? Découvrez nos destinations pour organiser votre voyage sans prise de tête" %>
<% end %>
<body class="destinations_experiences">
  <div class="container">
    <div id="titleblock" class="text-center">
      <div class="title">
        <h1>Liste des destinations couvertes</h1>
      </div>
    </div>
    <div class="vertical-spacer-xs"></div>
    <%= render partial: 'shared/destinations', locals: {destinations: @destinations} %>
  </div>
  <div class="vertical-spacer-xs"></div>
  <%= render partial: 'shared/footer' %>
</body>
<%= content_for(:before_js) do %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false&libraries=places&amp;key=AIzaSyCf77HD5LQkLbAcZWkBXKj-DLkXQJ9vHEc" %>
<% end %>
