<!DOCTYPE html>
<html>
  <head>
<!--   <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# explorizers: http://ogp.me/ns/fb/explorizers#"> -->
    <title>
      <%= yield_with_default(:title, "Explorizers | Le voyage inspiré et partagé") %>
    </title>
    <meta name="description" content="<%= yield_with_default(:description,"Avec Explorizers, simplifie la préparation de ton voyage, avec les conseils de tes amis, d'autres voyageurs et de professionnels.")%>" >
    <meta name="p:domain_verify" content="852a947bbf6d9d4c38ef54cf6ff7422b"/>
    <% if @trip %>
      <meta property="og:title" content="Vos conseils pour mon voyage" />
      <meta property="og:site_name" content="Explorizers" />
      <meta property="og:type" content="explorizers:trip" />
      <meta property="og:url" content="http://www.explorizers.com/trips/<%= "#{@trip.id}/#{@trip.token}" %>" />
      <meta property="og:image" content="http://philae-floju.s3.amazonaws.com/explorizers_cover.png" />
      <meta property="og:description" content="Votre ami(e) prépare son voyage sur Explorizers, et l'a posté sur Facebook pour avoir vos conseils. Cliquez sur le lien, visualisez sa carte de voyage et donnez-lui vos meilleurs plans!"/>
    <% end %>
    <% if @experience %>
      <% if @experience.name %>
        <meta property="og:image" content="<%= "#{@experience.experience_pictures.first.picture.url}" %>" />
      <% end %>
    <% else %>
      <meta property="og:image" content="http://philae-floju.s3.amazonaws.com/explorizers_cover.png" />
    <% end %>
    <meta property="og:image:width" content="300" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :navbar_hp_css %>
    <%= yield :map_css %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=351072325084597&amp;ev=PixelInitialized" /></noscript>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '351072325084597']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <%= yield :registration_scripts %>
  </head>
  <body>
    <!-- Qualaroo for explorizers.com -->
    <!-- Paste this code right after the <body> tag on every page of your site. -->
    <script type="text/javascript">
      var _kiq = _kiq || [];
      (function(){
        setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
        s.async = true; s.src = '//s3.amazonaws.com/ki.js/60130/dxx.js'; f.parentNode.insertBefore(s, f);
        }, 1);
      })();
    </script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=476354419169210";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>

    <% if flash.any? %>
      <%= render partial: "layouts/flash" %>
    <% end %>
    <%= render 'shared/navbar' %>

    <%= yield %>
    <!-- Modal Sign Up-->
    <div class="modal fade" id="mySignUpModal" tabindex="-1" role="dialog" aria-labelledby="mySignUpModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center">Inscrivez-vous pour continuer</h4>
          </div>
          <div class="modal-body">
            <%= render "devise/shared/sign_up_form" %>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Sign ip-->
    <div class="modal fade" id="mySignInModal" tabindex="-1" role="dialog" aria-labelledby="mySignInModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center">Connectez-vous pour continuer</h4>
          </div>
          <div class="modal-body">
            <%= render "devise/shared/sign_in_form" %>
          </div>
        </div>
      </div>
    </div>
    <div id="fb-root"></div>
    <%= yield(:before_js) %>
    <%= javascript_include_tag 'application' %>
    <%= yield (:map_js) %>
    <%= yield(:after_js) %>
  </body>
</html>
